Repository jscutlery/devkit, changes with the labels that .github/labeler.yml gives for each.
All labels: cypress-angular, cypress-angular-dev-server, cypress-harness, cypress-mount, operators, test, docs

wip(operators): add `report` operator empty specs
  packages/operators/src/lib/report.spec.ts
Labels: operators, test

wip(operators): add `finalized` to state
  packages/operators/src/lib/report.spec.ts
  packages/operators/src/lib/report.ts
Labels: operators, test

wip(operators): add `report` operator specs
  packages/operators/src/lib/report.spec.ts
Labels: operators, test

wip(operators): emit a single value on subscription
  packages/operators/src/lib/report.spec.ts
  packages/operators/src/lib/report.ts
Labels: operators, test

wip(operators): test `report` projector
  packages/operators/src/lib/report.spec.ts
Labels: operators, test

wip(operators): tidy up
  packages/operators/src/lib/report.ts
Labels: operators

chore: 📦 lock file maintenance
  yarn.lock
Labels: none

wip(operators): rename to `suspensify`
  packages/operators/src/index.ts
  packages/operators/src/lib/suspensify.spec.ts
  packages/operators/src/lib/suspensify.ts
Labels: operators, test

wip(operators): remove `@rx-angular/cdk` peer dep
  package.json
  packages/operators/package.json
Labels: operators

wip(operators): set pkg version to 0.0.0
  packages/operators/package.json
Labels: operators

.github/labeler.yml:

cypress-angular:
- 'packages/cypress-angular/*'
- 'packages/cypress-angular/**/*'

cypress-angular-dev-server:
- 'packages/cypress-angular-dev-server/*'
- 'packages/cypress-angular-dev-server/**/*'

cypress-harness:
- 'packages/cypress-harness/*'
- 'packages/cypress-harness/**/*'

cypress-mount:
- 'packages/cypress-mount/*'
- 'packages/cypress-mount/**/*'

operators:
- 'packages/operators/*'
- 'packages/operators/**/*'

test:
- 'packages/**/*.spec.ts'
- 'packages/cypress-mount-integration/*'
- 'packages/cypress-mount-integration/**/*'
- 'packages/cypress-harness-integration/*'
- 'packages/cypress-harness-integration/**/*'
- 'packages/cypress-harness-e2e/*'
- 'packages/cypress-harness-e2e/**/*'
- 'packages/cypress-sandbox/*'
- 'packages/cypress-sandbox/**/*'

docs:
- 'README.md'
- 'packages/cypress-angular/README.md'
- 'packages/cypress-angular-dev-server/README.md'
- 'packages/cypress-harness/README.md'
- 'packages/cypress-mount/README.md'
