Repository jscutlery/devkit, pull requests merged in 2023-05, with the labels that each got.

#242 build/nx migrate 16.1.4
  .eslintignore
  .eslintrc.json
  .github/workflows/nx-migrate.yml
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-3.5.1.cjs
  .yarnrc.yml
  apps/game-of-life/.eslintrc.json
  apps/game-of-life/jest.config.ts
  apps/game-of-life/project.json
  apps/sandbox/.eslintrc.json
  apps/sandbox/jest.config.ts
  apps/sandbox/project.json
  babel.config.json
  commitlint.config.js
  jest.config.ts
  jest.preset.js
  migrations.json
  nx.json
  package.json
  packages/.gitkeep
  packages/cypress-harness/jest.config.ts
  packages/cypress-harness/project.json
  packages/cypress-harness/src/lib/cypress-harness-environment.ts
  packages/cypress-harness/src/lib/internals.ts
  packages/cypress-mount/README.md
  packages/microwave/.eslintrc.json
  packages/microwave/cypress.config.ts
  packages/microwave/jest.config.ts
  packages/microwave/project.json
  packages/operators/.babelrc
  packages/operators/jest.config.ts
  packages/operators/project.json
  packages/playwright-ct-angular/jest.config.ts
  packages/playwright-ct-angular/project.json
  tests/cypress-harness-e2e/cypress.config.ts
  tests/cypress-harness-e2e/project.json
  tests/cypress-harness-e2e/src/integration/app.cy.ts
  tests/cypress-harness-wide/cypress.config.ts
  tests/cypress-harness-wide/project.json
  tests/cypress-harness-wide/src/date-picker-harness.cy.ts
  tests/cypress-harness-wide/src/get-root-harness.cy.ts
  tools/generators/.gitkeep
  workspace.json
  yarn.lock
Labels: cypress-harness, cypress-mount, test, docs, operators, microwave

#248 docs(cypress-harness): fix example
  packages/cypress-harness/README.md
Labels: cypress-harness, docs

#249 feat/rx computed
  .prettierignore
  package.json
  packages/rx-computed/.eslintrc.json
  packages/rx-computed/README.md
  packages/rx-computed/jest.config.ts
  packages/rx-computed/ng-package.json
  packages/rx-computed/package.json
  packages/rx-computed/project.json
  packages/rx-computed/src/index.ts
  packages/rx-computed/src/lib/rx-computed.spec.ts
  packages/rx-computed/src/lib/rx-computed.ts
  packages/rx-computed/src/test-setup.ts
  packages/rx-computed/tsconfig.json
  packages/rx-computed/tsconfig.lib.json
  packages/rx-computed/tsconfig.lib.prod.json
  packages/rx-computed/tsconfig.spec.json
  tsconfig.base.json
  yarn.lock
Labels: test

#250 feat(rx-computed): allow rxComputed to accept a custom Injector
  packages/rx-computed/README.md
  packages/rx-computed/src/lib/rx-computed.spec.ts
  packages/rx-computed/src/lib/rx-computed.ts
Labels: test
