Repository jscutlery/devkit, pull requests merged in 2024-10, with the labels that each got.

#611 test: ✅ fix image loading issue
  tests/playwright-ct-angular-demo/playwright-ct.config.ts
  tests/playwright-ct-angular-demo/src/recipe-search.component.pw.ts
  tests/playwright-ct-angular-demo/src/shared-ui/card.component.ts
Labels: test

#607 feat(swc-angular): ✨ upgrade @swc/core to 1.6.13
  package.json
  packages/swc-angular/package.json
  packages/swc-angular/src/index.ts
  packages/swc-angular/src/version-guard.spec.ts
  yarn.lock
Labels: test, swc-angular

#421 feat(swc-plugin-angular): ✨ optional transform styleUrl and styleUrls
  .editorconfig
  packages/swc-angular-plugin/README.md
  packages/swc-angular-plugin/src/component_decorator_visitor.rs
  packages/swc-angular-plugin/src/component_decorator_visitor_test.rs
  packages/swc-angular-plugin/src/lib.rs
  packages/swc-angular/src/index.ts
  tests/swc-angular-wide/src/fixtures/test.component.css
  tests/swc-angular-wide/src/swc-plugin-angular-urls.spec.ts
Labels: test, docs, swc-angular, swc-angular-plugin

#631 test: ✅ tidy up tests
  packages/rx-computed/src/lib/rx-computed.spec.ts
Labels: test, rx-computed

#632 feat(rx-computed): ✨ add Angular 19 support
  packages/rx-computed/package.json
  packages/rx-computed/src/lib/rx-computed-compat.spec.ts
  packages/rx-computed/src/lib/rx-computed.ts
  yarn.lock
Labels: test, rx-computed
